/*--------------Colors---------------*/

$primary-lighter : hsla(32, 57%, 59%, 1);
$primary-light : hsla(32, 50%, 47%, 1);
$primary-regular: hsla(31, 50%, 35%, 1);
$primary-dark : hsla(33, 51%, 23%, 1);
$primary-darker: hsla(34, 54%, 11%, 1);

$secondary-lighter: hsla(40, 60%, 96%, 1);
$secondary-light: hsla(42, 61%, 86%, 1);
$secondary-regular: hsla(42, 60%, 71%, 1);
$secondary-dark: hsla(38, 50%, 60%, 1);
$secondary-darker: hsla(38, 55%, 40%, 1);

$gray-100: hsla(35, 10%, 98%, 1);
$gray-200: hsla(33, 10%, 90%, 1);
$gray-300: hsla(33, 10%, 75%, 1);
$gray-400: hsla(34, 10%, 60%, 1);
$gray-500: hsla(35, 10%, 50%, 1);
$gray-600: hsla(36, 10%, 40%, 1);
$gray-700: hsla(36, 10%, 25%, 1);
$gray-800: hsla(36, 10%, 10%, 1);
$gray-900: hsla(36, 10%, 5%, 1);

$danger-lighter: hsla(358, 70%, 70%, 1);
$danger-light: hsla(358, 70%, 60%, 1);
$danger-regular: hsla(358, 70%, 50%, 1);
$danger-dark: hsla(358, 70%, 40%, 1);
$danger-darker: hsla(358, 70%, 30%, 1);

$alert-lighter: hsla(23, 84%, 80%, 1);
$alert-light: hsla(23, 84%, 70%, 1);
$alert-regular: hsla(23, 84%, 60%, 1);
$alert-dark: hsla(23, 84%, 50%, 1);
$alert-darker: hsla(23, 84%, 40%, 1);

$success-lighter: hsla(131, 22%, 80%, 1);
$success-light: hsla(131, 22%, 70%, 1);
$success-regular: hsla(131, 22%, 60%, 1);
$success-dark: hsla(132, 22%, 50%, 1);
$success-darker: hsla(131, 22%, 40%, 1);